<h1>List of Users</h1>

<ul>
  <% @users.each do |user| %>
  <li>
    <%=link_to("#{user.user_name}", user_url(user))%><br>
    <%="Authored Polls: #{user.authored_polls}"%><br>
  </li><br>

  <%end%>
</ul>
