<h1>Edit: <%= @band.name %></h1>
<%= render "form",
    name: @band.name,
    url: bands_url,
    method: "post",
    button: "Submit Changes"%>



<%= button_to "DESTROY BAND FOREVER", band_url(@band.id), method: 'delete' %>
